.markdown-content h1 {
    color: orange;
    font-size: 25px;
    font-weight: 100;
}

.markdown-content h2 {
    color: orange;
    font-size: 20px;
    font-weight: 100;
}

.markdown-content h3 {
    color: orange;
    font-size: 18px;
    font-weight: 100;
}

.markdown-content h4 {
    color: orange;
    font-size: 16px;
    font-weight: 100;
}


.markdown-content ul {
    padding-left:30px;
    margin:10px;
}

.markdown-content li {
    list-style-type: circle;
}

.markdown-content p:first-child{
    margin:0;
}

.markdown-content p {
    margin-top: 10px;
}

.markdown-content code {
    background-color: #f5f5f5;
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, 'Bitstream Vera Sans Mono', Consolas, Courier, monospace;
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    border-radius: 4px;
}

.markdown-content blockquote {
    margin-top:5px;
    border-left: 2px solid #aaa;
    padding: 10px;
    padding-left: 20px;
    margin: 0;
    color: #aaa;
    font-style: italic;
}
